@media(max-width:575px){
    .gamer-world .product-cart{
        margin-top: 20px;
    }
    .shiping .items{
        padding-top: 20px;
    }
    .slider .slide-content h1{
        font-size: 40px;
    }
}
@media(min-width:576px){
    .gamer-world .product-cart{
        margin-top: 20px;
    }
    .shiping .items{
        padding-top: 20px;
    }
    .slider .slide-content h1{
        font-size: 50px;
    }
}
@media(min-width:768px){

}
@media(min-width:992px){
    
}
@media(min-width:1200px){
  
}
@media(min-width:1400px){
   
}